In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2

In [2]:
folder = 'test'
df = pd.read_csv(f'{folder}_labels.csv')
df.head()

    filename  width  height  class  xmin  ymin  xmax  ymax
0  00751.ppm   1360     800     13   725   568   755   596
1  00752.ppm   1360     800      1   934   448   979   494
2  00754.ppm   1360     800     38   728   593   767   632
3  00755.ppm   1360     800     12  1084   294  1208   418
4  00755.ppm   1360     800      1   852   518   883   549

In [3]:
filesname = df['filename']
new_filesname = []

for name in filesname:
    nm = name.replace('ppm','jpg')
    new_filesname.append(nm)
    
new_filesname = pd.Series(new_filesname, name='filename')

In [4]:
new_filesname

0      00751.jpg
1      00752.jpg
2      00754.jpg
3      00755.jpg
4      00755.jpg
         ...
179    00896.jpg
180    00897.jpg
181    00898.jpg
182    00898.jpg
183    00899.jpg
Name: filename, Length: 184, dtype: object

In [5]:
df['filename']=new_filesname
df.head()

    filename  width  height  class  xmin  ymin  xmax  ymax
0  00751.jpg   1360     800     13   725   568   755   596
1  00752.jpg   1360     800      1   934   448   979   494
2  00754.jpg   1360     800     38   728   593   767   632
3  00755.jpg   1360     800     12  1084   294  1208   418
4  00755.jpg   1360     800      1   852   518   883   549

In [6]:
df.to_csv(f'{folder}_labels_bis.csv', index=False)